<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="VoIPServer.ServerServiceLibrary.ServerService"
        behaviorConfiguration = "ServerServiceMEXBehavior">
        <endpoint address ="ServerService"
        binding="wsDualHttpBinding"
         contract="VoIPServer.ServerServiceLibrary.IServerService"/>
        <!-- Enable the MEX endpoint -->
        <endpoint address="mex"
        binding="mexHttpBinding"
        contract="IMetadataExchange" />

        <!-- Need to add this so MEX knows the address of our service -->
        <host>
          <baseAddresses>
            <add baseAddress ="http://localhost/VoIPServer"/>
          </baseAddresses>
        </host>

      </service>
    </services>
    <!-- A behavior definition for MEX -->
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServerServiceMEXBehavior" >
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
