<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ExposeMexAndThrottleBehavior">
          <serviceMetadata httpGetEnabled="true"
                           httpGetUrl="http://localhost/VoIPServer/ServerService"/>
          <serviceThrottling maxConcurrentCalls="3"
                   maxConcurrentInstances="100"
                    maxConcurrentSessions="100"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="VoIPServer.ServerServiceLibrary.ServerService" behaviorConfiguration="ExposeMexAndThrottleBehavior">
        <endpoint address="net.tcp://localhost/VoIPServer/ServerService"
                  binding="netTcpBinding"
                  contract="VoIPServer.ServerServiceLibrary.IServerService"/>
        <endpoint address="http://localhost/VoIPServer/ServerService"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>

</configuration>
