<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ExposeMexAndThrottleBehavior">
          <serviceMetadata httpGetEnabled="true"
                           httpGetUrl="http://localhost:1111/VoIPServer/ServerService"/>
          <serviceThrottling maxConcurrentCalls="3"
                   maxConcurrentInstances="100"
                    maxConcurrentSessions="100"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="VoIPServer.ServerServiceLibrary.ServerService" behaviorConfiguration="ExposeMexAndThrottleBehavior">
        <endpoint address="net.tcp://localhost:9999/VoIPServer/ServerService"
                  binding="netTcpBinding"
                  contract="VoIPServer.ServerServiceLibrary.IServerService"/>
        <endpoint address="http://localhost:1111/VoIPServer/ServerService"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>