<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="MongoURL" value="mongodb://169.254.163.161:27017"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service name="VoIPServer.ServerServiceLibrary.ServerService" 
               behaviorConfiguration="ServerServiceMEXBehavior">
        <endpoint address="ServerService" 
                  binding="netTcpBinding" 
                  contract="VoIPServer.ServerServiceLibrary.DataContract.IServerService" 
                  bindingConfiguration="TcpBinding"/>
        <endpoint address="mex" 
                  binding="mexHttpBinding" 
                  contract="IMetadataExchange"/>
        <endpoint address="WebsocketService"
                  binding="customBinding" 
                  bindingConfiguration="webSocket" 
                  contract="VoIPServer.ServerServiceLibrary.DataContract.IWebsocketService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7997/VoIPServer"/>
            <add baseAddress="http://localhost:7999/VoIPServer/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServerServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="TcpBinding">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
      <customBinding>
        <binding name="webSocket">
          <byteStreamMessageEncoding/>
          <httpTransport>
            <webSocketSettings transportUsage="Always" createNotificationOnConnection="true"/>
          </httpTransport>
        </binding>
      </customBinding>
    </bindings>   
  </system.serviceModel>
</configuration>
