<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IVoiceService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/VoIPApp/VoiceService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IVoiceService" contract="VoiceServiceReference.IVoiceService"
        name="BasicHttpBinding_IVoiceService" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="VoiceServiceLibrary.VoiceService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
            contract="VoiceServiceLibrary.IVoiceService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
            name="mex" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost/VoIPApp/VoiceService" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>