<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_IWebsocketService">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport>
                        <webSocketSettings transportUsage="Always" subProtocol="soap" />
                    </httpTransport>
                </binding>
            </customBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServerService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:7999/VoIPServer/ServerService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IServerService" contract="ServerServiceReference.IServerService" name="NetTcpBinding_IServerService" />
            <endpoint address="ws://localhost:7998/VoIPServer/WebsocketService" binding="customBinding" bindingConfiguration="CustomBinding_IWebsocketService" contract="ServerServiceReference.IWebsocketService" name="CustomBinding_IWebsocketService" />
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>